.coinsummary {
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
    padding:.5rem!important;
    margin-top:.5rem!important;
    --bs-bg-opacity:1;
    background-color:rgba(var(248,249,250),var(--bs-bg-opacity))!important;
    color: var(--text)!important
  }