nav {
    width: 15vw;
    display: block;
    float: left;
    height: 100%;
}

ul {
    margin: 50% 0;
    color: #fff;
    list-style: none;
    text-align: center;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li  {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
}

nav ul li:hover,nav ul a:active  {
  background-color: #35363b;
}

nav ul li a {
    position: fixed;
}

nav ul li a:visited {
    color: #fff;
}

nav ul li a:hover,a.active {
    color: #0082e6;
    transition: all .5;
}

nav .iconify {
    font-size: 1.5rem;
    vertical-align: -4px;
}