nav {
    width: 14vw;
    display: block;
    float: left;
    height: 100%;
    margin-left: 15px;
}

ul {
    margin: 50% 0;
    color: #fff;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li  {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px 0px 0px 20px;
    width: 100%;
}

nav ul li:hover,nav ul a:active  {
    background-color: var(--primary);
}

nav ul li a {
    position: fixed;
}

nav ul li a, nav ul a:visited{
    color: #fff;
}

nav .iconify {
    font-size: 1.5rem;
    vertical-align: -4px;
    transition: all .3s;
}

nav ul li a:hover > .iconify{
    color: var(--secondary);
    transform: scale(1.2);
}