.text-decoration-none{
    text-decoration:none!important
}

.my-1{
    margin-top:.25rem!important;
    margin-bottom:.25rem!important;
}

.coinlist-item:hover .delete-icon {
    display: block;
}

.coinlist-image {
    width: 50px;
    margin-right: 10px;
}
  
.coinlist-item {
    display: flex;
    background-color: var(--secondary2);
    padding: 12px 40px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
    
}

.list-group-item{
    border-top-width:0
}

.list-group-item-action{
    width:100%;
    color:white;
    text-align:inherit
}

.d-flex{
    display:flex!important
}

.justify-content-between{
    justify-content:space-between!important
}

.align-items-center{
    align-items:center!important
}

.text-danger{
    color: #bd0e0b!important
}

.text-success{
    color: #38b000!important
}

.align-middle{
    vertical-align:middle!important
}

.delete-icon {
    display: none;
    position: top;
    cursor: pointer;
  }

.mr-2{
    margin-right:.15rem!important;
    margin-left:.5rem!important
}

.delete-icon {
    color: white;
    width: 30px;
    height: 30px;
  }
  
  .delete-icon:hover {
    color: #bd0e0b;
  }