.coinlist-item{
    margin-top:.25rem!;
    margin-bottom:.25rem!;
    display: flex;
    background-color: var(--secondary2);
    padding: 12px 40px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.coinlist-item img {
    width: 25%;
}

.coinlist-item span {
    margin: 0 10px;
}
.coinlist-item .delete__button {
    font-size: 1.5rem;
    color: var(--text);
    transition: all .3s;
}

.coinlist-item .delete__button:hover {
    color: var(--negative);
    transform: scale(1.5);
}

@media screen and (max-width: 27em) {
    .coinlist-item img {
        width: 15vw;
    }
}