.dashboard__container input {
  background-color: var(--secondary2);
  color: var(--text);
  width: 50%;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: all .3s;

}

.dashboard__container input:focus {
  box-shadow: 0px 0px 15px -5px rgba(0,130,230,1);
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0,130,230,1);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0,130,230,1);
}

.row h2 {
  Font-size: 2rem;
}

.row h2 .iconify {
  margin-right: 4px;
  transform: scale(2);
  vertical-align: -5px;
  transition: all 0.3s;
}


.dashboard__container input::placeholder {
  color: var(--text);
  opacity: 0.7;
}

@media screen and (max-width: 48em) {
  .dashboard__container input {
    width: 100%;
  }
}
