.table__coins {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table__coins--titles {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  color: var(--text)
}

.table__coins--coins {
  overflow: auto;
}
