.table__container {
  position: relative !important;
  display: block;
  overflow-x: auto;
  background-color: var(--primary);
  width: 100%;
}

table {
  overflow-y: hidden;
  table-layout: auto;
  width: 100%;
}

table th {
  background-color: var(--secondary2);
}

table tr:nth-child(even) {
  background-color: var(--secondary3);
}

.table__coins--titles {
  color: var(--text);
}

thead th {
  padding: 20px 5px;
  vertical-align: middle;
  overflow: hidden;
  border-bottom: 2px solid var(--text);
  text-align: left;
}

@media screen and (max-width: 48em) {
  .table__container {
    width: 100%;
    clear: both;
    background-color: var(--primary);
  }

  table {
    min-width: 600px;
  }
  .sticky-col-header {
    position: sticky;
    background-color: var(--secondary2);
  }
}
