.coin-data{
    --bs-bg-opacity:1;
    background-color:transparent!important;
    color:white;
    margin-top:1rem!important;
    padding:.5rem!important;
    border-radius:.25rem!important;
    border:1px solid #dee2e6!important;
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;display:flex;
    flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));
    margin-right:calc(-.5 * var(--bs-gutter-x));margin-left:calc(-.5 * var(--bs-gutter-x))
}
.text{
    font-size: 10px;
    --bs-text-opacity:1;
    color:#6c757d!important
}
section {
    flex:1 0 0%
}

.data{
    display:flex!important;
    flex-direction:column!important
}
