#newsContainer {
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: space-between;
}

.selfCenter {
  align-self: flex-start;
}

.table__scroll {
  overflow: scroll;
  max-height: 600px;
}