.index{
    --bs-text-opacity:1;
    color:#6c757d!important;
    background-color: --primary;
}

.coin_row {
    display: flex;
    align-items: center;
}

.coin__img{
    width: 4%;
    height:auto;
    margin-right:1.5rem!important
}

.coin__symbol{
    --bs-text-opacity:1;
    color:#6c757d!important;
    margin-left:1rem!important
}