td {
  text-align: left;
  height: 3.5rem;
  padding: 5px 8px;
  vertical-align: middle;
}

td a {
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
td img {
  width: 1.5rem;
  margin-right: 0.7rem;
}

.coin__row--index {
  width: 5rem;
}

td a:hover > .iconify {
  color: var(--primary3);
}

td a .iconify {
  font-size: 2.3rem;
}

@media screen and (max-width: 48em) {
  .coin__row--index {
    width: 2.5rem;
  }

  .sticky-col {
    position: sticky;
    background-color: var(--secondary2);
  }

  .sticky-first-col {
    left: 0;
    width: 3rem;
    min-width: 3rem;
    max-width: 3.1rem;
  }

  .sticky-second-col {
    left: 3rem;
    width: 6rem;
    min-width: 4rem;
    max-width: 6rem;
    cursor: pointer;
  }
}
