.news__table {
  border-collapse: collapse;
}
.news__table thead {
  position: sticky;
  top: 0px;
}

.news__table td,th {
  padding: 8px;
}

.news__table tr:nth-child(even) {
  background-color: var(--secondary2);
}

.news__table tr:hover {
  background-color: var(--primary);
}

.news__table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--secondary);
  color: var(--text);
}

@media screen and (max-width: 48em) {
  .news__table {
    width: 100vw;
    position: relative;
  }
  .news__table .Source {
    display: none;
  }
}

@media screen and (max-width: 27em) {
  .news__table .Country {
    display: none;
  }
}
