.dropdown-toggle{
    color: var(--text);
    background-color:#0a58ca;
    border-color:#0a53be
}

.dropdown-menu{
    position:absolute;
    z-index:0;
    display:none;
    min-width:10rem;
    padding:.5rem 0;
    margin:0;
    font-size:1rem;
    text-align:left;
    list-style:none;
    background-color:var(--primary2);
    background-clip:padding-box;
    border-radius:.25rem;
    height: 300px;
    overflow-y: scroll;
}

.dropdown-menu.show{
    display:block
}

.dropdown-item{
    display:block;
    padding:.25rem 1rem;
    clear:both;
    font-weight:400;
    color: var(--text);
    text-align:inherit;
    text-decoration:none;
    white-space:nowrap;
    background-color:transparent;
}

.dropdown-toggle{
    color:var(--transparent);
    background-color: var(--secondary);
    border-color: var(--secondary);
}