@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
:root {
  font-family: "Overpass", sans-serif;

  --primary: #35363b;
  --primary2: #676970;
  --primary3: #00bdee;
  --secondary: #0082e6;
  --secondary2: #242529;
  --positive: #38b000;
  --negative: #bd0e0b;
}

body {
  background-color: var(--secondary2) !important;
  color: #fff;
  margin: 0;
}

.container {
  margin-top: 70px;
}

.dashboard__container {
  margin-top: 80px;
  background-color: #35363b;
  padding: 40px;
  display: flex;
  flex-direction: column;
}
