@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
:root {
  font-family: 'Overpass', sans-serif;
  --primary: #35363B;
  --secondary: #00BDEE;

}

body {
	background-color: #263238 !important;
	color: #fff; 
}
