@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
:root {
  font-family: "Overpass", sans-serif;
  --primary: #35363b;
  --secondary: #00bdee;
}

body {
  background-color: #242529 !important;
  color: #fff;
  margin: 0;
}

.container {
  margin-top: 70px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f3f3f3;
  border: 0px none #ffffff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:active {
  background: #00bdee;
}
